.home{
    width: 100%;
    height: 100vh;
    background-color: #B28AF8;
    overflow: hidden;
    position: relative;
}
.bg1{
    width: 100%;
    height: 50%;
    height: auto;
    position: absolute;
    transform: translate(30rem ,-30rem);
  
}
.bg1 img{
    width: 100%;
}