nav{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: grid;
    grid-template-columns: 11fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: grid;
    grid-template-columns: 120px 3fr 1fr;
    column-gap: 3rem;
    margin-top: 2.5rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.nav-menu li a:hover{
    color: #e3e3e3;
}
.logo{
 justify-self: end;
 
}
.menu-btn{
    display: none;
}
.cont{
    justify-self: start;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2rem;
    padding: 0rem 1.5rem;
    cursor: pointer;
}
.cont:hover {
    border:1px solid #e3e3e3;
    color: #e3e3e3;
}

/* --------------------------- For Laptops --------------------------- */
@media screen and (max-width:1024px){
    .navbar{
        column-gap: 2rem;
    }
    .nav-menu{
        gap: 2rem;
    }
}
/* --------------------------- For Tablets --------------------------- */
@media screen and (max-width:768px) {
    .navbar{
        display: grid;
        grid-template-columns: 1fr  1fr;
        margin-top: 2.5rem;
        justify-content: center;
        align-items: center;
    }
    .logo{
        justify-self: start;
        margin: 0rem 3rem;
       }
    .nav-menu{
        display: grid;
        position: absolute;
        transform: translate(0rem, 15rem);
        background-color: rgba(255, 255, 255, 0.319);
        width: 100%;
        padding: 2rem 0rem;
        text-align: center;
    }
    .cont{
        justify-self: end;
        margin: 0rem 3rem;
        display: none;
    }
    .menu-btn{
        display: block;
        margin: 3rem 3rem 0rem;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 2rem;
    }
    .show-nav{
        display: grid;
    }
    .hide-nav{
        display: none;
    }
}